extends  ../_skeleton

//- Includes
include ../components/_ui-posts
include ../components/_ui-quote
include ../components/_ui-box-comment
include ../sections/_header-modern

block variables
	- var activeCategory = 'blog'
	- var pageName = 'Blog Post'

block page
	// Page Header
	+header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'breadcrumbs-bg'
	})

	// Section Shop
	section.section.section-xl.bg-default.text-md-left
		.container: .row.row-50.row-md-60
			.col-lg-8.col-xl-9: .inset-xl-right-100
				.row.row-50.row-md-60.row-lg-80
					.col-12
						article.post.post-modern.box-xxl
							.post-modern-panel
								div: a.post-modern-tag( href='#' ) News
								div: time.post-modern-time(datetime='2020-09-08') August 9, 2020
							h3.post-modern-title Deciphering your cat’s language
							.post-modern-figure: +img('post-7-800x394')
							p.post-modern-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet
							p.post-modern-text At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est
						+quote-classic({
							mod: 'quote-classic-2',
							text: 'You can quickly learn to understand your cat\'s language just by following our simple tips.'
						})

						p Orci eu lobortis elementum nibh tellus. Vivamus arcu felis bibendum ut tristique et egestas quis ipsum. Libero volutpat sed cras ornare arcu dui vivamus arcu. Viverra orci sagittis eu volutpat odio facilisis mauris sit amet. Tempus quam pellentesque nec nam aliquam sem et tortor consequat.

						.single-post-bottom-panel
							.group-sm.group-justify
								div: .group-sm.group-tags
									a.link-tag( href='#' ) News
									a.link-tag( href='#' ) Cats
									a.link-tag( href='#' ) Tips
								div: .group-xs.group-middle
									span.list-social-title Share
									div: +widget-list([], '', 'list-social list-inline-sm')

					.col-12
						h6.single-post-title Related Posts
						.row.row-30
							.col-sm-6
								+post-classic({
									img: 'post-2-370x239',
									time: {
										datetime: '2020-09-08',
										dateText: 'August 9, 2020'
									},
									title: 'Easy tricks to teach your dog',
									text: 'In ornare quam viverra orci sagittis viverra orci sagittis eu volutpat odio. Non consectetur a erat nam at lectus urnaa erat nam at lectus urna.'
								})
							.col-sm-6
								+post-classic({
									img: 'post-3-370x239',
									time: {
										datetime: '2020-09-08',
										dateText: 'August 9, 2020'
									},
									title: '8 tips for taking the perfect photo of your pet',
									text: 'Laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean erat velit scelerisque in.'
								})

					.col-12
						h6.single-post-title 3 Comments
						+box-comment({
							unit: 'unit-spacing-md',
							img: 'user-1-119x119',
							author: 'Jane Doe',
							text: 'In ornare quam viverra orci sagittis eu volutpat odio. Non consectetur a erat nam at lectus urna. A pellentesque sit amet porttitor eget dolor morbi non arcu.',
							time: {
								datetime: '2020-08-30',
								dateText: 'Aug 30, 2020'
							}
						})

							+box-comment({
								unit: 'unit-spacing-md',
								img: 'user-2-119x119',
								author: 'Jessica Brown',
								text: 'Laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean. ',
								time: {
									datetime: '2020-08-30',
									dateText: 'Aug 30, 2020'
								}
							})

						+box-comment({
							unit: 'unit-spacing-md',
							img: 'user-3-119x119',
							author: 'Nick Stevens',
							text: 'Urna neque viverra justo nec ultrices dui. Enim neque volutpat ac tincidunt vitae. Euismod in pellentesque massa placerat duis ultricies lacus.',
							time: {
								datetime: '2020-08-30',
								dateText: 'Aug 30, 2020'
							}
						})

					.col-12
						h6.single-post-title Leave a comment
						form.rd-form.rd-mailform(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
							.row.row-20.row-md-30
								.col-sm-6: .form-wrap
									input#contact-first-name-2.form-input(type='text' name='name' data-constraints='@Required')
									label.form-label(for='contact-first-name-2') First Name

								.col-sm-6: .form-wrap
									input#contact-last-name-2.form-input(type='text' name='name' data-constraints='@Required')
									label.form-label(for='contact-last-name-2') Last Name

								.col-12: .form-wrap
									label.form-label(for='contact-message-2') Message
									textarea#contact-message-2.form-input.textarea-lg(name='phone' data-constraints='@Required')

							button.button.button-lg.button-primary.button-zakaria(type='submit') Submit

			.col-lg-4.col-xl-3: include ../includes/_aside-blog
	='\n'

	// Page Footer
	include ../sections/_footer-modern
